<form [formGroup]="formData" (ngSubmit)="isNewRecord ? onCreate(): onUpdate(pk)">
    <div class="input-group">
        <span class="input-group-addon">域名</span>
        <input type="text" class="form-control" id="domain" name="domain"
               required="required" minlength="3"
               formControlName="domain">
    </div>
    <div class="input-group">
        <span class="input-group-addon">激活</span>
        <input type="checkbox" id="enabled" name="enabled"
               formControlName="enabled">
    </div>
    <p>Form Status: {{formData.status}}</p>
    <p>Form Value: {{formData.value|json}}</p>
    <div class="form-group">
        <div class="btn-group" role="group" aria-label="...">
            <button type="submit" class="btn btn-success" [disabled]="formData.invalid">提交</button>
            <button type="submit" class="btn btn-success" (click)="goBack()">返回</button>
        </div>
    </div>
</form>