<form [formGroup]="formData" #websiteForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
        <span class="input-group-addon">域名</span>
        <input type="text" class="form-control" id="domain" name="domain"
               required="required" minlength="3"
               formControlName="domain">
    </div>
    <div class="input-group">
        <span class="input-group-addon">激活</span>
        <input type="checkbox" id="enabled" name="enabled"
               formControlName="enabled">
    </div>
    {{formData.value|json}}
    <div class="form-group">
        <div class="btn-group" role="group" aria-label="...">
            <button type="submit" class="btn btn-success">提交</button>
            <button type="submit" class="btn btn-success" (click)="goBack()">返回</button>
        </div>
    </div>
</form>