/* You can add global styles to this file, and also import other style files */
table.table td.id {
    text-align: center;
    width: 50px;
}
table.table td.buttons {
    width: 44px;
    text-align: center;
}
table.table td.buttons-2 {
    width: 88px;
}